@model IEnumerable<PDFOnlineSignature.Models.Certificate>
@{
    ViewData["Title"] = "Certificates of issued certificates";
}
<div>
    <h2><span class="label label-default">Issued Certificates</span></h2>
    <hr/>
</div>
@if(Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Reviewer.Name)</th>
                <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
                <th>@Html.DisplayNameFor(model => model.ExpireDate)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            @if (item.Revoked == false) 
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Reviewer.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExpireDate)</td>
                    <td>
                        <span><a asp-action="DownloadPublicDER" asp-route-uuid="@item.Uuid"><span class="glyphicon glyphicon-certificate"></a> |</span>
                        <span><a asp-action="DownloadP12Store" asp-route-uuid="@item.Uuid"><span class="glyphicon glyphicon-certificate"></a> |</span>
                        <span><a asp-action="Revoke" asp-route-uuid="@item.Uuid"><span class="glyphicon glyphicon-ban-circle"></span></a></span>
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
} 
else 
{
    <h4>There are no certificates issued</h4>
    <hr/>
}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <p class="navbar-text"><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Reviewers",new {id = ViewBag.Reviewer.Uuid})'">Back to Reviewer</button></p>
  </div>
</nav>